<% if(userData.username !== 'admin'){ %>
<div class="modal_addPlan">
    <div class="modal_container">
        <div class="modal_container_box">
            
            <div class="modal_container_box_top">
                <h4 class="modal_container_box_top_font">Add Plan</h4>
            </div>
            <form id="plan" class="modal_plan_form" action="/plan/add" method="post">
                <input type="text" id="plan_title" name="title" class="modal_createPlan_input_title" placeholder="Whats theme on your mind?">		
                <textarea type="text" id="plan_planDescription" name="planDescription" class="modal_createPlan_input_description" placeholder="Tell your plan description"></textarea>
                <div class="form_three_line">
                    <div class="departure_date_modal">
                        <span class="date_modal_font">Departure Date</span>
                        <input id="plan_departureDate" type="date" name="departureDate" class="modal_form_three_line_box" placeholder="Departure Date">
                    </div>
                    <div class="departure_date_modal">
                        <span class="date_modal_font">Ends Date</span>
                        <input id="plan_endsDate" type="date" name="endsDate" class="modal_form_three_line_box" placeholder="Ends Date">
                    </div>
                    
                </div>
                <div class="modal_plan_bottom">
                    <div id="plan_submit" class="modal_plan_bottom_execute">Create</div>
                    <div id="close_modal" class="modal_plan_bottom_cancle">Cancel</div>
                </div>
            </form>
        </div>
    </div>
</div>
<%}%>