<!-- Profile Body Content -->
<div class="wrapper_bodycontent">
  <!-- Search Section -->
  <section class="search_section">
    <div class="search_section_banner">
      <div class="search_section_banner_inside">
        <div class="search_section_banner_image">
          <img src="img/HomeBanner.jpg">
        </div>
        <div class="search_section_banner_message">
          <h2 class="search_section_banner_message_font">Showcase & Discover Valuable Destination</h2>
        </div>
      </div>
    </div>
    <form class="search_section_box" action="/dashboard/search" method="post">
      <input class="search_section_box_inside" type="text" name="key_search" placeholder="Search TravelLog by..." autocomplete="off"
      />
    </form>
  </section>