<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metaHead'); %>
</head>

<body>
    <%- include('./partials/nav_dashbord'); %>
    
    <%- include('./partials/search'); %>

        <!-- Gallery -->
        <section class="profile_content">
            <div class="profile_content_inside" id="myTable">
                <div class="profile_content_inside_card">
                    <div class="card_content_image">
                        <img src="img/destination/jogja/nature&parks/wediombo_beach.jpg" alt="">
                    </div>
                    <div class="card_content">
                        <div class="card_content_title">
                            <a href="" class="card_content_title_font">Jogja, Wediombo Beach</a>
                        </div>
                        <div class="card_content_userName">
                            <a href="" class="card_content_userName_font">Brenda Christie</a>
                        </div>
                        <div class="card_content_gap">
                            <hr class="card_content_hr">
                        </div>
                        <div class="card_content_category">
                            <a href="" class="card_content_category_font">Nature and Parks</a>
                        </div>
                        <div class="card_content_footer">
                            <a href="" class="card_content_viewAll">View Plan</a>
                            <a href="" class="card_content_join">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </a>
                            <span class="card_content_join_number">30</span>
                            <span class="card_content_date">30/12/2018</span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        </div>


        <%- include('./partials/script'); %>
</body>

</html>