<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/05e7c788bc.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Form Email</title>

    <style>
        .modal_join_email{
            position: fixed;
            z-index: 100;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 1s ease;
            text-align: center;
        }
    </style>
</head>
<body>
        <div class="modal_join_email">

            <form action="plan/join">
                <input type="text" value="">
                <input type="text" value="" placeholder="">
                <input type="text">
                <textarea name="" id="" cols="30" rows="10">
    
                </textarea>
                <div id="email_close_button" type="button">submit</div>
                <a href="/" id="email_close_button">back</a>
            </form>
        </div>
</body>
</html>